In [1]:
#standard data manipulations
import pandas as pd 
import numpy as np

Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |


In the context of this problem, what is a false positive?
In the context of this problem, what is a false negative?
How would you describe this model?

In [2]:
# positive = dog
# pred dog, actual cat
# pred cat, actual dog
# confusing

You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [5]:
c3 = pd.read_csv('c3.csv')
c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [ ]:
#Which evaluation metric would be appropriate here? A: Recall
# positive = defect

In [18]:
c3ct1 = pd.crosstab(c3.actual, c3.model1)
c3ct1

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [19]:
# model 1
tp = c3ct1.iloc[0,0]
fn = c3ct1.iloc[0,1]
fp = c3ct1.iloc[1,0]
tn = c3ct1.iloc[1,1]
#recall
tp / (tp+fn)

0.5

In [16]:
c3ct2 = pd.crosstab(c3.actual, c3.model2)
c3ct2

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [17]:
# model 2
tp = c3ct2.iloc[0,0]
fn = c3ct2.iloc[0,1]
fp = c3ct2.iloc[1,0]
tn = c3ct2.iloc[1,1]
#recall
tp / (tp+fn)

0.5625

In [8]:
c3ct3 = pd.crosstab(c3.actual, c3.model3)
c3ct3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [15]:
# model 3
tp = c3ct3.iloc[0,0]
fn = c3ct3.iloc[0,1]
fp = c3ct3.iloc[1,0]
tn = c3ct3.iloc[1,1]
#recall
tp / (tp+fn)

0.8125

In [ ]:
#Which model would be the best fit for this use case? A: Model 3

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here?

In [ ]:
# Which evaluation metric would be appropriate here? A: Precision

In [20]:
# model 1
tp = c3ct1.iloc[0,0]
fn = c3ct1.iloc[0,1]
fp = c3ct1.iloc[1,0]
tn = c3ct1.iloc[1,1]
#precision
tp / (tp + fp)

0.8

In [21]:
# model 2
tp = c3ct2.iloc[0,0]
fn = c3ct2.iloc[0,1]
fp = c3ct2.iloc[1,0]
tn = c3ct2.iloc[1,1]
#precision
tp / (tp + fp)

0.1

In [22]:
# model 3
tp = c3ct3.iloc[0,0]
fn = c3ct3.iloc[0,1]
fp = c3ct3.iloc[1,0]
tn = c3ct3.iloc[1,1]
#precision
tp / (tp + fp)

0.13131313131313133

In [ ]:
#Which model would be the best fit for this use case? A: Model 1 has the best precision

You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [30]:
gyp = pd.read_csv('gives_you_paws.csv')
gyp.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [37]:
gyp.actual.mode()

0    dog
Name: actual, dtype: object

In [38]:
gyp.actual.value_counts()

actual
dog    3254
cat    1746
Name: count, dtype: int64

In [41]:
# computes baseline accuracy
baseline_accuracy = 3254 / (3254 + 1746)
baseline_accuracy

0.6508

In [25]:
#model 1 crosstabulation
gyp1 = pd.crosstab(gyp.actual, gyp.model1)
gyp1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [33]:
# model 1
tp = gyp1.iloc[0,0]
fn = gyp1.iloc[0,1]
fp = gyp1.iloc[1,0]
tn = gyp1.iloc[1,1]
#accurracy
(tp + tn) / (tp + tn + fp + fn)

0.8074

In [26]:
#model 2 crosstabulation
gyp2 = pd.crosstab(gyp.actual, gyp.model2)
gyp2

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [34]:
# model 2
tp = gyp2.iloc[0,0]
fn = gyp2.iloc[0,1]
fp = gyp2.iloc[1,0]
tn = gyp2.iloc[1,1]
#accurracy
(tp + tn) / (tp + tn + fp + fn)

0.6304

In [28]:
#model 3 crosstabulation
gyp3 = pd.crosstab(gyp.actual, gyp.model3)
gyp3

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [35]:
# model 3
tp = gyp3.iloc[0,0]
fn = gyp3.iloc[0,1]
fp = gyp3.iloc[1,0]
tn = gyp3.iloc[1,1]
#accurracy
(tp + tn) / (tp + tn + fp + fn)

0.5096

In [29]:
#model 4 crosstabulation
gyp4 = pd.crosstab(gyp.actual, gyp.model4)
gyp4

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [36]:
# model 4
tp = gyp4.iloc[0,0]
fn = gyp4.iloc[0,1]
fp = gyp4.iloc[1,0]
tn = gyp4.iloc[1,1]
#accurracy
(tp + tn) / (tp + tn + fp + fn)

0.7426

In [42]:
#Are any of the models better than the baseline? A: Models 1 & 4 are both above the baseline accuracy

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

In [44]:
# Initialize dictionaries to store TP, FP, TN, FN, and evaluation metrics for each model
results = {f"Model_{i}": {} for i in range(1, 5)}
# Loop through each model column
for i in range(1, 5):
    # Calculate TP, FP, TN, FN for each model
    tp = ((gyp['actual'] == 'dog') & (gyp[f'model{i}'] == 'dog')).sum()
    fn = ((gyp['actual'] == 'dog') & (gyp[f'model{i}'] == 'cat')).sum()
    fp = ((gyp['actual'] == 'cat') & (gyp[f'model{i}'] == 'dog')).sum()
    tn = ((gyp['actual'] == 'cat') & (gyp[f'model{i}'] == 'cat')).sum()
    # Calculate evaluation metrics
    accuracy = (tp + tn) / (tp + tn + fp + fn)
    precision = tp / (tp + fp) if (tp + fp) != 0 else 0  # Handle division by zero
    recall = tp / (tp + fn) if (tp + fn) != 0 else 0  # Handle division by zero
    # Store values in the results dictionary
    results[f"Model_{i}"]['TP'] = tp
    results[f"Model_{i}"]['FN'] = fn
    results[f"Model_{i}"]['FP'] = fp
    results[f"Model_{i}"]['TN'] = tn
    results[f"Model_{i}"]['Accuracy'] = accuracy
    results[f"Model_{i}"]['Precision'] = precision
    results[f"Model_{i}"]['Recall'] = recall
# Display results
for model, values in results.items():
    print(f"{model}: TP={values['TP']}, FP={values['FP']}, TN={values['TN']}, FN={values['FN']}, "
          f"Accuracy={values['Accuracy']}, Precision={values['Precision']}, Recall={values['Recall']}")

Model_1: TP=2614, FP=323, TN=1423, FN=640, Accuracy=0.8074, Precision=0.8900238338440586, Recall=0.803318992009834
Model_2: TP=1597, FP=191, TN=1555, FN=1657, Accuracy=0.6304, Precision=0.8931767337807607, Recall=0.49078057775046097
Model_3: TP=1655, FP=853, TN=893, FN=1599, Accuracy=0.5096, Precision=0.6598883572567783, Recall=0.5086047940995697
Model_4: TP=3110, FP=1143, TN=603, FN=144, Accuracy=0.7426, Precision=0.7312485304490948, Recall=0.9557467732022127

In [53]:
# Which of these models would you recommend? A: Model 4 precision

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [54]:
# A: Model 1 precision

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

In [56]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [57]:
accuracy_score(gyp.actual, gyp.model1)

0.8074

In [59]:
precision_score(gyp.actual, gyp.model1, pos_label='cat')

0.6897721764420747

In [60]:
precision_score(gyp.actual, gyp.model1, pos_label='dog')

0.8900238338440586

In [62]:
recall_score(gyp.actual, gyp.model1, pos_label='cat')

0.8150057273768614

In [63]:
recall_score(gyp.actual, gyp.model1, pos_label='dog')

0.803318992009834

In [65]:
print(classification_report(gyp.actual, gyp.model1))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000